@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/atelierbram/Base2Tone-prism/blob/master/output/prism/prism-base2tone-suburb-light.css */
code[class*="language-"],
pre[class*="language-"] {
  color: #8696fd;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #c2b7bc;
}

.token.punctuation {
  color: #c2b7bc;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #5165e6;
}

.token.property,
.token.function {
  color: #f25a99;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #d14781;
}

code.language-javascript,
.token.attr-name {
  color: #f25a99;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #7586f5;
}

.token.placeholder,
.token.variable {
  color: #b9c2fe;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #d14781;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #f25a99;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #f25a99;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #eae1e5;
}

.line-numbers-rows > span:before {
  color: #d7cbd0;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 * alpha transparency in 8 digits hex notation coming to a browser near you soon:
 * https://drafts.csswg.org/css-color/#hex-notation
 */
.line-highlight {
  background: #d1478133;
  background: linear-gradient(to right, #d1478133 70%, #d1478100);
}

[cmdk-root]:after {
  content: "";
  background: linear-gradient(
    110.05deg,
    #6ca0e3 -5.55%,
    #aca3de 2.67%,
    #b3a9d7 10.36%,
    #85e4b2 14.94%,
    #70d6dd 19.8%,
    #97acf1 23.97%,
    #d9b9e1 28.73%,
    #e7ddd5 33.09%,
    #e5cbd9 40.68%,
    #e4b7df 48.72%,
    #b8b6e9 56.17%,
    #8db6f2 65.45%,
    #b2a9f0 73.83%,
    #e3b2e8 79.67%,
    #e9ddda 85.96%,
    #81f5f7 93.28%,
    #7ba3f4 98.61%
  );
  z-index: -1;
  position: absolute;
  border-radius: 12px;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: shine 6s 0.1s ease forwards infinite;
  background-size: 200% auto;
}

@keyframes shine {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
